<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs", {title: "Main Page"}) %>

  <body>
    <h1>Main Page or "/"</h1>

    <a href="/samples"><button>Sample Page</button></a>
  </body>
</html>